Repository floating/frame, pull requests merged in 2023-04, with the labels that each got.

#1502 Provider updates for better chain handling
  main/provider/chains/index.ts
  main/provider/index.ts
  test/main/provider/chains/index.test.js
  test/main/provider/index.test.js
Labels: chains

#1506 Lattice signing: use errorMessage prop from LatticeResponseError
  main/signers/lattice/Lattice/index.ts
Labels: hardware signers

#1511 Attach keystore open file dialog to Dash
  app/dash/Accounts/Add/AddKeystore/index.js
  main/index.ts
  main/rpc/index.js
  main/windows/dialog/index.ts
  test/main/windows/dialog/index.test.js
  test/main/windows/dialog/unhandledException.test.js
Labels: hot signers, UX

#1462 convert hot signers to TS
  @types/frame/index.d.ts
  @types/frame/state.d.ts
  main/crypt/index.ts
  main/crypt/typedDataUtils.js
  main/signers/Signer/index.ts
  main/signers/hot/HotSigner/index.js
  main/signers/hot/HotSigner/index.ts
  main/signers/hot/HotSigner/types.ts
  main/signers/hot/HotSigner/worker.js
  main/signers/hot/HotSigner/worker/controller.ts
  main/signers/hot/HotSigner/worker/index.ts
  main/signers/hot/HotSigner/worker/launch.ts
  main/signers/hot/RingSigner/index.ts
  main/signers/hot/RingSigner/worker.js
  main/signers/hot/RingSigner/worker.ts
  main/signers/hot/SeedSigner/index.js
  main/signers/hot/SeedSigner/index.ts
  main/signers/hot/SeedSigner/worker.js
  main/signers/hot/SeedSigner/worker.ts
  main/signers/hot/index.ts
  main/signers/index.ts
  package-lock.json
  package.json
  resources/utils/index.ts
  test/main/signers/hot/HotSigner/controller.test.js
  test/main/signers/hot/RingSigner/index.test.js
  test/main/signers/hot/RingSigner/worker.test.js
  test/main/signers/hot/SeedSigner/index.test.js
Labels: hot signers, maintenance
